body {
  margin: 0;
  padding: 0;
}
legend {
  margin-left: 5px;
  color: rgb(103, 21, 211);
  font-weight: bold;
  font-size: 1em;
}
input {
  font-size: 1em;
  padding: 2px;
  background-color: antiquewhite;
  border-color: antiquewhite;
}
#check-out-info {
  background-color: bisque;
  width: auto;
  margin: 5%;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: max-content;
  grid-template-areas:
    "c c c c c c c s s s s s"
    "p p p p p p p o o o o o"
    "b b b b b b b b b b b b";
}
#cust {
  grid-area: c;
  margin-right: 15px;
}
#ship {
  grid-area: s;
}
#part {
  grid-area: p;
  margin-right: 15px;
}
#out {
  grid-area: o;
}
#buttons {
  grid-area: b;
}
form {
  background-color: wheat;
  padding: 0;
  margin: 5px;
}

fieldset {
  border: 3px solid rgb(243, 234, 217);
  background-color: rgb(233, 195, 124);
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgb(241, 196, 112), -2px 0 4px rgb(241, 196, 112);
  padding: 0;
  margin: 0;
  height: auto;
}
.surround {
  background-color: rgb(233, 195, 124);
  padding: 0;
}

#cust-info {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "i i i i n n n n n n n n"
    "m m m m v v v v v v v v"
    "s s s s s s s s s s s s";
  font-size: 1em;
  margin: 5px;
  padding: 3px;
}
.customer-id {
  grid-area: i;
  margin: 3px;
  align-self: center;
}
#customer-id {
  grid-area: n;
  margin: 3px;
}
.name {
  grid-area: m;
  margin: 3px;
  align-self: center;
}
#name {
  grid-area: v;
  margin: 3px;
}
#state-toc {
  grid-area: s;
  margin: 3px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "s s s s t t c c c c c c";
}
.state {
  grid-area: s;
  align-self: center;
}
#state {
  grid-area: t;
  width: 50%;
  margin: 3px;
}
#state-toc div {
  grid-area: c;
  display: inline-flex;
}
#type-of-customer {
  margin: 10px;
}
.type-of-customer {
  margin: 5px;
  align-self: center;
}
#shipping-routes {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "u u u u u u f f f f f f"
    ". . . . . . . . . . . ."
    "p p p p p p a a a a a a";
  font-size: 1em;
  margin: 5px;
  align-content: space-around;
  padding: 26px 10px;
}
#ups-part {
  grid-area: u;
  height: 100%;
}
#fedex-part {
  grid-area: f;
  height: 100%;
}
#postal-part {
  grid-area: p;
  height: 100%;
}

#fedex-air-part {
  grid-area: a;
  height: 100%;
}

#part-ordered {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "p p p p l l l l l l l l"
    "d d d d i i i i i i i i"
    "q q q q q q q q q q q q"
    "o o o o o o o o o o o o";
  margin: 5px;
  font-size: 1em;
}

#part-num {
  grid-area: l;
  margin: 3px;
}
.part-num {
  grid-area: p;
  margin: 3px;
  align-self: center;
}
#descrip {
  grid-area: i;
  margin: 3px;
}
.descrip {
  grid-area: d;
  margin: 3px;
  align-self: center;
}
#pppq {
  grid-area: q;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "p p p p p p p . t t t t";
  justify-content: space-between;
  margin: 5px 0;
}
#ppp-input {
  grid-area: p;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "c c c c c c c e e e e e";
}
.ppp {
  grid-area: c;
  margin: 5px 0;
  align-self: center;
}
#ppp {
  grid-area: e;
  text-align: right;
  margin: 5px 0;
  width: 100%;
}
#quantity-input {
  grid-area: t;
  display: flex;
  justify-content: flex-end;
}

#quantity {
  width: 30%;
  text-align: right;
  margin: 5px;
}
.quantity {
  margin: 5px;
  align-self: center;
}
#over-sized-cont {
  grid-area: o;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas: ". . . . c o o o o o o o";
  justify-content: center;
}
#over-sized-container {
  grid-area: c;
  margin: 5px 3px;
}
.over-sized-container {
  grid-area: o;
}

#output {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "c c c c t t"
    "s s s s x x"
    "p p p p h h"
    "o o o o l l";
  margin: 5px;
}

#cost {
  grid-area: t;
  margin: 3px;
  text-align: right;
}
.cost {
  grid-area: c;
  margin: 3px;
}
#sales-tax {
  grid-area: x;
  margin: 3px;
  text-align: right;
}
.sales-tax {
  grid-area: s;
  margin: 3px;
}
#shipping-and-handling {
  grid-area: h;
  margin: 3px;
  text-align: right;
}
.shipping-and-handling {
  grid-area: p;
  margin: 3px;
}
#total {
  grid-area: l;
  margin: 3px;
  text-align: right;
}
.total {
  grid-area: o;
  margin: 3px;
}

@media screen and (max-width: 992px) {
  body {
    font-size: 1.1em;
  }
  input {
    font-size: 0.9em;
  }
  #cust-info {
    grid-template-areas:
      "i i i i n n n n n n n n"
      "m m m m v v v v v v v v"
      "s s s s s s s s s s s s";
    margin: 5px;
  }
  #state-toc {
    grid-template-areas: "s s s s t t c c c c c c";
  }

  #part-ordered {
    grid-template-areas:
      "p p p p l l l l l l l l"
      "d d d d i i i i i i i i"
      "q q q q q q q q q q q q"
      "o o o o o o o o o o o o";
  }
  #pppq {
    margin: 0;
  }
  #ppp-input {
    grid-template-areas: "c c c c c c c e e e e e";
    margin: 5px 0;
  }
  #ppp {
    margin: 0;
  }
  #over-sized-cont {
    grid-template-areas: ". . . . c o o o o o o o";
  }
  #cust-info {
    padding: 1px 2px;
  }
  #shipping-routes {
    padding: 21px 2px;
  }
}
@media screen and (max-width: 838px) {
  body {
    font-size: 1em;
  }
}

@media screen and (max-width: 782px) {
  #check-out-info {
    margin: 5% 1%;
  }
  body {
    font-size: 0.9em;
  }

  #cust-info {
    padding: 1px 2px;
  }
  #shipping-routes {
    padding: 20px 0;
  }
}

#buttons {
  display: grid;
  grid-template-areas: "d d . . . e";
  justify-content: space-between;
  margin: 10px 1%;
  background-color: transparent;
}
#buttons #comp-ord {
  grid-area: d;
  display: flex;
  justify-content: start;
}
#compute {
  margin-right: 10%;
}
#buttons #exit {
  grid-area: e;
}
#exit,
#new-order,
#compute {
  border: 2px solid rgb(84, 84, 207);
  border-radius: 3px;
  background-color: transparent;
  padding: 0;
}
#exit:hover,
#new-order:hover,
#compute:hover,
#exit:active,
#new-order:active,
#compute:active {
  border: 2px solid rgb(84, 84, 207);
}
#buttons input:hover,
#buttons input:active {
  border: 1px dotted rgb(84, 84, 207);
  outline: 1px dotted rgb(84, 84, 207);
}

#buttons input {
  background-color: rgb(233, 195, 124);
  border: 1px solid white;
  padding: 3px 15px;
  outline: 1px solid white;
}
#exit .exit-btn {
  padding: 3px 35px;
}

@media screen and (max-width: 668px) {
  body {
    font-size: 1.2em;
  }
  legend {
    font-size: 1em;
  }
  #check-out-info {
    margin: 0;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "c c c c c c c c c c c c"
      "s s s s s s s s s s s s"
      "p p p p p p p p p p p p"
      "o o o o o o o o o o o o"
      "b b b b b b b b b b b b";
  }
  #cust,
  #part,
  #out,
  #ship,
  #buttons {
    margin: 10px 20px;
  }
  .type-of-customer {
    font-size: 1em;
  }
  #pppq {
    margin: 5px 0;
  }
  #output {
    grid-template-areas:
      "c c c t t t"
      "s s s x x x"
      "p p p h h h"
      "o o o l l l";
    margin: 5px;
  }
}

@media screen and (max-width: 486px) {
  body {
    font-size: 1.1em;
  }
  #cust,
  #part,
  #out,
  #ship,
  #buttons {
    margin: 5px 2px;
  }

  #cust-info,
  #shipping-routes,
  #part-ordered {
    height: auto;
  }
  #cust-info {
    display: flex;
    flex-flow: column;
  }
  #cust-info input {
    text-align: right;
  }
  .customer-id,
  .name,
  .part-num,
  .descrip,
  .ppp {
    align-self: flex-start;
  }
  #state-toc {
    display: inline-flex;
    justify-content: space-between;
  }
  #state {
    width: 10%;
  }
  #toc {
    display: inline-flex;
    justify-content: space-around;
  }
  #type-of-customer {
    margin: 10px 5px;
  }
  .type-of-customer {
    margin: 5px;
  }
  .type-of-customer {
    font-size: 0.9em;
  }
  #shipping-routes {
    display: flex;
    flex-flow: column;
    padding: 0;
  }
  #shipping-routes > div {
    display: inline;
  }
  #part-ordered {
    display: flex;
    flex-flow: column;
    margin: 5px;
  }
  #part-ordered input {
    text-align: right;
  }
  #pppq {
    display: flex;
    flex-flow: column;
  }
  #ppp-input {
    display: flex;
    flex-flow: column;
  }
  #ppp {
    margin: 3px;
    width: auto;
  }
  .ppp {
    margin: 3px 0;
  }

  #quantity-input {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
  }

  #quantity {
    width: 100%;
    margin: 3px;
  }
  #over-sized-cont {
    display: inline-flex;
    justify-content: center;
  }
  #over-sized-container {
    margin: 5px 10px;
  }
  .over-sized-container {
    margin: 5px;
  }

  #output {
    display: flex;
    flex-flow: column;
  }
  #buttons {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
  }
  #buttons input {
    background-color: rgb(233, 195, 124);
    border: 1px solid white;
    padding: 5px;
    outline: 1px solid white;
  }
  #exit .exit-btn {
    padding: 5px 30px;
  }
  #buttons #comp-ord {
    display: flex;
    margin-right: 3%;
  }
  #compute {
    margin-right: 8%;
  }
}

@media screen and (min-width: 993px) {
  body {
    font-size: 1.2em;
  }
  input {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 1020px) {
  body {
    font-size: 1.2em;
  }
  input {
    font-size: 1em;
  }
  #cust-info {
    grid-template-areas:
      "i i i n n n n n n n n n"
      "m m m v v v v v v v v v"
      "s s s s s s s s s s s s";
    margin: 5px;
  }
  #state-toc {
    grid-template-areas: "s s s t t t c c c c c c";
  }

  #part-ordered {
    grid-template-areas:
      "p p p l l l l l l l l l"
      "d d d i i i i i i i i i"
      "q q q q q q q q q q q q"
      "o o o o o o o o o o o o";
  }
  #ppp-input {
    grid-template-areas: "c c c c c e e e e e e e";
    margin: 5px 0;
  }
  #ppp {
    margin: 0 8px;
  }
  #over-sized-cont {
    grid-template-areas: ". . . c o o o o o o o o";
  }
}
