<section>
  <div id="about"> 
    <h3>Refactory</h3>
    <p>Refactory is a tech program tailored to make tech talents job-ready. The program is created in partnership with - and for - the tech sector in uganda.</p>
  </div>
  <div id="address">
    <h3>Visit us:</h3>
    <p>3rd Floor le Palm Building, Plot 244/245 Lubbobo Close off Tank Hill Road, Muyenga. Kampala, Uganda.</p>
  </div>
</section>

  <div id="imp-links">
    <h3>Important Links</h3>
    <p><a href="../about.html">About Refactory</a> </p>
    <p><a href="../catalyst.html">Catalyst Course</a> </p>
    <p><a href="../bootcamp.html">Bootcamp</a> </p>
    <p><a href="../partners.html">For partners</a> </p>
    <p><a href="../cohort.html">Cohorts</a> </p>
    <p><a href="../blog.html">Blog</a> </p>
    <p><a href="../contact.html">Contact</a> </p>
  </div>
  <div id="partners">
    <h3>Partners</h3>
    <img src="../images/ciu.png" alt="partners">
    <img class="small-ciu-logo"  src="../images/ciup.png" alt="partners">
    <img src="../images/ciup1.png" alt="partners">
  </div>
  <div id="social-media">
    <h3>Find Us On:</h3>
    <a href="#"><img src="../images/facebook.jpg" alt="facebook icon"> </a>
    <a href="#"><img src="../images/twitter.jpg" alt="twitter icon"> </a>
    <a href="#"><img src="../images/instagram.jpeg" alt="instagram icon"> </a>

  </div>
  <div id="copyright">
    <p>Refactory&copy 2021.</p>
  </div>