<section>
    <p id="logo">Refactory</p>
  </section>
  <nav class="mobile-menu">
    <img src="../../images/mobilemenu.png"alt="mobile menu">
    <ul class="menu">
      <li id="nav-admissions" class="press-button" onclick="on()" onmouseenter="on()" onmouseleave="off()"><a href="#"> Admissions</a>
        <ul class="submenu">
          <li id="catalyst"><a href="./catalyst.html">Catalyst</a></li>
          <li id="bootcamp"> <a href="./bootcamp.html"> Bootcamp</a></li>
        </ul>
      </li>
      <li id="nav-career-path" class="press-button" onclick="on()" onmouseenter="on()" onmouseleave="off()"><a href="#"> Career Path</a>
        <ul class="submenu">
          <li id="soft-dev"><a href="./software-devt.html">Software Devt </a></li>
          <li id="lship"> <a href="./leadership.html">Leadership </a></li>
          <li id="pro-mgt"><a href="./project-management.html">Project Management </a></li>
          <li id="cloud-comp"><a href="./cloud-computing.html">Cloud Computing </a></li>
        </ul>
      </li>
      <li id="nav-project-repo" class="press-button" onclick="on()" onmouseenter="on()" onmouseleave="off()"><a href="#"> Project Repo</a>
        <ul class="submenu">
          <li id="boot-repo"><a href="./bootcamp-repo.html"> Bootcamp Repo</a></li>
          <li id="cohort-repo"><a href="./catalyst-repo.html"> Cohort Repo</a></li>
        </ul>
      </li>
      <li id="nav-about-us" class="press-button" onclick="on()" onmouseenter="on()" onmouseleave="off()"><a href="#"> About Us</a>
        <ul class="submenu">
          <li id="about"><a href="./about.html"> About Us</a></li>
          <li id="contact"><a href="./contact.html"> Contact Us</a></li>
          <li id="blog"><a href="./blog.html"> Blog</a></li>
          <li id="cohort"><a href="./cohort.html"> Our Cohorts</a></li>
          <li id="partnersmenu"><a href="./partners.html"> Our Partners</a></li>
        </ul>
      </li>
      <li id="nav-apply-now" onmouseenter="on()" onmouseleave="off()"><a href="./index.html"> Apply Now</a></li>

    </ul>
  </nav>