*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
 
}
.container{
  width:100%;
  background-color: pink;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "h h h h h h h h h h h h"
  "m m m m m m m m m m m m"
  "f f f f f f f f f f f f";
 
}
header{
position:sticky;
top:0;
width:100%;
background-color: rgba(218, 165, 32, 1);
grid-area: h;
display: inline-flex;
justify-content: space-around;
align-items: baseline;
padding:1px;
z-index: 20;
}

main{
  background-image: url(../images/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

grid-area: m;

}
header>section{
  align-items:baseline;
  margin:2px 10px 6px 10px;

}
header>nav{
align-items: center;
}
nav>img{
  position:absolute;
  display:none;
}
.menu{
  padding:0px;
  display:inline-flex;
  justify-content: space-around;
  
}
.menu>li{
  align-items: center;
  list-style: none;
  position: relative;
  margin:10px 10px 1px 0;
  

}
.menu>li>a{
  text-decoration: none;
  color:black;
  text-transform: capitalize;
  font-weight:600;
  font-size:0.8em;
  background-color: aquamarine;
  border:2px solid aquamarine;
  padding:12px 8px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px black;
}

.submenu{
  display:none;
  width:200px;
  top:30px;
  border-radius: 2px;
  box-shadow: 2px 4px 2px black;
  border-top:10px solid transparent;
}
.submenu>li{
  align-items: center;
  list-style: none;
  border-bottom: 2px solid pink;
  background-color: aquamarine;
  padding:0;
}

.submenu>li>a{
  text-decoration: none;
  color:black;
  display: block;
  border:1px solid black;
  box-shadow: 2px 2px 2px black;
}

.submenu a{
  padding:10px;
  width:100%;
  
}
#apply-now #nav-apply-now a:hover,
#admissions #nav-admissions a:hover,
#career-path #nav-career-path a:hover,
#project-repo #nav-project-repo a:hover, 
#apply-now #nav-apply-now a:focus,
#admissions #nav-admissions a:focus,
#career-path #nav-career-path a:focus,
#project-repo #nav-project-repo a:focus,
#about-us #nav-about-us a:hover, 
#about-us #nav-about-us a:focus, 
.menu a:hover, .menu a:focus {
  background-color: orange;
  color:white;
  outline: none;

}
#apply-now #nav-apply-now>a,
#admissions #nav-admissions>a,
#career-path #nav-career-path>a,
#project-repo #nav-project-repo>a, 
#about-us #nav-about-us>a {
  background-color: blue;
  color: white;
  padding: 12px 8px;
  border-bottom: 5px solid transparent;

}


.menu li:hover >ul, .menu li:focus-within >ul{
  display:block;
  position:absolute;
  z-index: 21;

}
#logo{
  font-size: 1.4em;
  font-weight: bolder;
  border:4px solid aquamarine;
  border-radius: 50%;
  padding: 5px 10px;
  box-shadow: 2px 4px 2px black;
  margin:1px;
  position: relative;
}
.landing{
  padding:10px;
  background-color:rgba(0, 0, 255, 0.8);
  display: grid;
  grid-template-columns: repeat(12, 1fr );
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "h h h h h h i i i i . ."
  "p p p p p p i i i i . ."
  "b b b b b b b b b b . .";


}
.landing img{
  grid-area: i;
  width:150%;
  height: auto;
  z-index: 0;
  padding-right:20%;
  padding-top:5vw;
 
}
.landing>p{
  grid-area: p;
  color:white;
  font-size: 1.4em;
  padding:5px 0.8vw;
  z-index: 1;
  margin:20px 0;
}
.landing h2{
  grid-area: h;
  color:white;
  font-size: 3em;
  padding:5px 0.8vw;
  z-index: 1;
}
.landing>div{
  grid-area: b;

}
.landing>div p{
  color:white;
  font-size: 1.4em;
  margin:20px 0;
}
.landing>div>button{
  padding:10px;
  margin-left: 30px;
  color:purple;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow:2px 2px 4px 2px purple;
}
.landing>div>button:hover{
  color:white;
  background:orange;
}
.founders{
  display:inline-flex;
  justify-content: space-around;
  background-color: purple;
  width:100%;
  align-items: center;
  padding:20px 10px;
}
.founders>h3{
  font-size: 1.8em;
  color:white;
}
.founders>img{
  width:100px;
  height:70px;

}
.how{
  width:100%;
  padding:10px 0;
  background-color: lightgray;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  ". . . . . . . . q q q q q q q q . . . . . . . ."
  ". . . . . . . s s s s s s s s s s . . . . . . ."
  ". . k k k k k k . t t t t t t . g g g g g g . ."
  ". . . . . . . . . . c c c c . . . . . . . . . .";
}
.how>h3{
  grid-area: q;
  justify-self: center;
  padding-bottom:20px;
}
.how>p{
  grid-area: s;
  justify-self: center;
  padding-bottom:40px;
}
.how>.catalyst{
  grid-area: k; 
  border:2px solid purple;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:20px;
  border-radius: 5px;
  text-decoration: none;
  color:black;
  box-shadow:2px 2px 4px 2px gray;
}
.howh{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1.8em;
  padding: 5px 0;
}
.howp{
  color:black;
  text-align: center;
  font-size: 1.3em;
  padding:10px 0;
}

.how>.bootcamp{
  grid-area: t; 
  border:2px solid purple;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:20px;
  border-radius: 5px;
  text-decoration: none;
  color:black;
  box-shadow:2px 2px 4px 2px gray;
}

.how>.gethired{
  grid-area: g; 
  border:2px solid purple;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:20px;
  border-radius: 5px;
  text-decoration: none;
  color:black;
  box-shadow:2px 2px 4px 2px gray;
}
.how>a:hover{
  background-color: purple;
  
}
.catalyst:hover .howp, .catalyst:hover .howh{
  color: white;
}
.bootcamp:hover .howp, .bootcamp:hover .howh{
  color: white;
}
.gethired:hover .howp, .gethired:hover .howh{
  color: white;
}


.howimg{
  width: 90px;
  height: auto;
  padding:0 0 40px 0;

}
.how>button{
  grid-area: c;
  margin-top:20px;
  padding:15px;
  font-size: 1em;
  background-color: purple;
  color: white;
  border-radius:3px;
  box-shadow:2px 2px 4px 2px gray;
}
.how>button:hover{
  background-color: orange;
  color: white;

}
.partners{
  background-color: beige;
  display: grid;
  width: 100%;
  padding:20px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:repeat(4, auto);
  grid-template-areas: 
  "h h h h h h h h h h h h"
  ". p p p p p p p p p p p"
  ". p p p p p p p p p p p"
  ". p p p p p p p p p p p";

}
.partners h3{
  grid-area: h;
  text-align: center;
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 20px;
  color:black;
  font-weight: bold;
}
.partners div.partner-logo{
  grid-area: p;
  display:grid;
    width:auto;
    height: auto;
    grid-template: repeat(3, auto) / repeat(5, auto);
    grid-auto-flow: column dense;
 
}

.partner-logo img{
  width:50%;
  height: auto;
  margin:10px 10%;

}
.partner-logo>.small-partner-logo{
  width:100%;
  height:auto;
}

footer{
  grid-area: f;
  background-color: purple;
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: 
  "a a a a p p p s s l l l"
  "a a a a p p p s s l l l"
  "a a a a p p p s s l l l"
  "a a a a p p p s s l l l"
  "c c c c c c c c c c c c";
}

footer>section {
  grid-area: a;
  color: white;
  border-right: 2px solid rgba(128, 128, 128,0.4);
}
#about p{
  color: white;
  font-size: 0.9em;
  text-align: justify;
  line-height: 20px;
  margin:5px 5%;
}
#about h3, #partners>h3, #social-media>h3, #imp-links>h3{
  font-size: 1em;
  color: cyan;
  margin:0;
  padding: 7px;
  border-bottom: 2px solid cyan;
  text-align: center;
  background:rgba(128, 128, 128,0.4);
  width: 100%;
}
#address h3{
  font-size: 1em;
  color: cyan;
  margin:10% 0 0 5%;
}
 
#address p{
  color:white;
  line-height: 20px;
  margin:5px 5%;
  font-size: 0.9em;
  text-align: justify;

  
}

#imp-links{
  grid-area: l;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}
#imp-links p{
  text-align: center;
}
#imp-links p:last-child{
  margin-bottom: 20px;

}
#imp-links p a{
  color:white;
  text-decoration: none;
  font-size: 0.8em;
  border:2px solid transparent;
  padding: 5px;
  
}

#imp-links a:hover{
  background-color: orange;
  border:2px solid orange;
  color:black;
}
#partners{
  grid-area: p;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 2px solid rgba(128, 128, 128,0.4);

}

#partners img{
  margin-top:10px;
  width:30%;
}
#partners img.small-ciu-logo{
  width: 60%;
  height: auto;
}


#social-media{
  grid-area: s;
  display:inline-flex;
  flex-direction: column;
  border-right: 2px solid rgba(128, 128, 128,0.4);
}
#social-media>a img{
  width:40px;
  height: 40px;
  border:1px solid black;
  border-radius: 100%;
  margin:20px 35%;
  
} 
#copyright{
  grid-area: c;
  background:rgba(128, 128, 128,0.4);
  height: 30px;
  border-top:1px solid cyan;
  width: 100%;
  bottom:0;
  display: flex;
  justify-content: center;
}
#copyright>p{
  align-self: center;
  color:white;
  font-size: 0.7em;
}