*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
 
}
h3, h2, p, a{
  color:rgb(177, 56, 56);
}
button{
  background-color: purple;
  color:#adefd1;
}
.container{
  width:100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "h h h h h h h h h h h h"
  "m m m m m m m m m m m m"
  "f f f f f f f f f f f f";
  background-color: rgb(241, 232, 232);
 
}
header{
position:sticky;
top:0;
width:auto;
background-color: #303030;
grid-area: h;
display: grid;
grid-template-columns:repeat(6, 1fr);
grid-template-rows: auto;
align-items: baseline;
padding:0 2%;
z-index: 20;
box-shadow:1px 2px 3px grey;
}

main{
grid-area: m;
width: auto;
}
header>section{
  grid-column: 1/2;
  grid-row: 1/2;
  width:150px;
  justify-self: end;
  

}
header>nav{
  grid-column: 2/-1;
  grid-row: 1/2;
  justify-self: stretch;
  align-items: center;
  margin-left:15%;
}
nav>img{
  position:absolute;
  display:none;
}
.menu{
  display:grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: auto;
  grid-template-areas: 
  "a c p b l";
 justify-content:stretch;
}

#nav-admissions{
grid-area: a;

}
#nav-career-path{
grid-area: c;

}
#nav-project-repo{
grid-area: p;

}
#nav-about-us{
grid-area: b;

}
#nav-apply-now{
  grid-area: l;
  
  }
.menu>li{
  align-items: center;
  list-style: none;
  position: relative;
  background-color:white;

}

.menu>li>a{
  text-decoration: none;
  text-transform: capitalize;
  font-weight:600;
  font-size:0.8em;
  color: #adefd1;
  text-align: center;
  padding:20px 1vw;
  width:100%;
  height: 100%;
  margin-left:2px;
  display: inline-block;
  border-top:4px solid transparent;
  border-bottom: none;
  background-color: #303030;
  
}

.submenu{
  display:none;
  width:200px;
  top:58px;
  border-radius: 2px;
  background-color:white;

}
.submenu>li{
  align-items: center;
  list-style: none;
  padding:0;
  
}

.submenu>li>a{
  text-decoration: none;
  display: block;
  background-color: #00203F;
  color: #adefd1;
  margin-bottom:2px;
  border-top:4px solid transparent;
}

.submenu a{
  padding:10px;
  width:100%;
  
}
#apply-now #nav-apply-now a:hover,
#admissions #nav-admissions a:hover,
#career-path #nav-career-path a:hover,
#project-repo #nav-project-repo a:hover, 
#apply-now #nav-apply-now a:focus-within,
#admissions #nav-admissions a:focus-within,
#career-path #nav-career-path a:focus-within,
#project-repo #nav-project-repo a:focus-within,
#about-us #nav-about-us a:hover, 
#about-us #nav-about-us a:focus-within, 
.menu a:hover, .menu a:focus-within {
  background-color: orange;
  color:black;
  /* border-left:2px solid white; */
  border-top:4px solid white;
  border-bottom: none;
}
#apply-now #nav-apply-now>a,
#admissions #nav-admissions>a,
#career-path #nav-career-path>a,
#project-repo #nav-project-repo>a, 
#about-us #nav-about-us>a {
  background-color: #adefd1;
  color:  #00203F;
  border-top:4px solid white;
  border-bottom: none;


}


.menu li:hover >ul, .menu li:focus-within >ul{
  display:block;
  position:absolute;
  z-index: 21;

}
#logo{
  font-size: 1.4em;
  font-weight: bolder;
  background-color:#adefd1;
  border:4px solid aquamarine;
  border-radius: 50%;
  padding: 5px 10px;
  margin:1px;
  position: relative;
  
}
.landing{
  width:auto;
  margin: 10px;
  background-image: linear-gradient(to right,rgba(173, 239, 209,0.5) 35%, rgb(157, 200, 141), rgba(173, 239, 209,0.5)80%);
  display: grid;
  grid-template-columns: repeat(12, 1fr );
  grid-template-rows:auto auto auto auto;
  grid-template-areas: 
  "h h h h h i i i i i i i"
  "p p p p p i i i i i i i"
  ". . . . . b b b b b b b";
  height: auto;
  border-radius: 2px;
  justify-content: space-between;
  box-shadow:-1px 1px 5px grey;

}
.landing img{
  grid-area: i;
  width:100%;
  height: auto;
  z-index: 0;
  padding:10px;
 
}

.landing h2{
  grid-area: h;
  font-size: 1.8em;
  padding:10px 0 0 20px;
  z-index: 1;
  line-height: 40px;
  margin:10px 0 0 20px;
}
.landing>p{
  grid-area: p;
  font-size: 1.2em;
  padding:20px;
  z-index: 1;
  line-height: 30px;
  margin:10px 0 0 20px;
}
.landing>div{
  grid-area: b;
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: auto auto;
  grid-template-areas: 
  "p p p p p p p p p p p p"
  ". a a a a . . l l l l .";
  margin: 20px auto;

}
.landing>div p{
  grid-area: p;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 20px;
}
.apply{
  grid-area: a;
  height: 42px;
}
.learn-more{
  grid-area: l;
  height: 42px;
}
.landing>div>button{
  padding:10px;
  text-transform: capitalize;
  font-size: 1.1em;
  border-radius: 2px;

  
}

.founders{
  display:grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
  width:auto;
  margin: 10px;
  box-shadow:-1px 1px 5px #2a2a2a;
  border-radius: 2px;
  align-items: center;
  padding:20px 10px;
  background-color: #808080;
}
.founders>h3{
  font-size: 1.8em;
  color:white;
}
.founders>img{
  width:100px;
  height:70px;

}
.how{
  background-image: radial-gradient(circle, rgba(173, 239, 209,0.5), rgb(157, 200, 141));
  width:auto;
  margin: 10px;
  box-shadow:-1px 1px 5px grey;
  border-radius: 2px;
  padding:10px 0;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "q q q q q q q q q q q q q q q q q q q q q q q q"
  ". . s s s s s s s s s s s s s s s s s s s s . ."
  ". . k k k k k k k .t t t t t . . g g g g g . ."
  ". . . . . . . . . . c c c c . . . . . . . . . .";
}
.how>h3{
  grid-area: q;
  justify-self: center;
  padding-bottom:10px;
}
.how>p{
  grid-area: s;
  justify-self: center;
  padding-bottom:20px;
}
.how>.catalyst{
  grid-area: k; 
 
}
.how>.bootcamp{
  grid-area: t; 
}


.how>.gethired{
  grid-area: g; 
}
.study-steps{
  border:2px solid transparent;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:0 5px;
  border-radius: 3px;
  text-decoration: none;
  background-color:#adefd1;
  box-shadow:-1px 1px 5px grey;
}
.howh{
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
  padding: 5px 0;
}

.howp{
  text-align: center;
  font-size: 1.1em;
  padding:10px 0;
  line-height: 26px;
}

.how>a:hover{
  background-color: purple;
  
}
.catalyst:hover .howp, .catalyst:hover .howh,.bootcamp:hover .howp, .bootcamp:hover .howh,.gethired:hover .howp, .gethired:hover .howh{
  color:#adefd1;
}


.howimg{
  width: 90px;
  height: auto;
  padding:auto;

}
.how>button{
  grid-area: c;
  width:160px;
  margin:20px auto;
  padding:10px 5px;
  font-size: 1.2em;
  border-radius:3px;
}

.partners{
  background-image: linear-gradient(rgba(219, 245, 233, 0.9), rgba(195, 240, 179, 0.8));
  box-shadow:-1px 1px 5px grey;
  display: grid;
  width:auto;
  margin: 10px;
  border-radius: 2px;
  padding:0;
  padding:10px 0 0 7%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:repeat(2, auto);
  grid-template-areas: 
  "h h h h h h h h h h h h"
  "p p p p p p p p p p p p";

}
.partners h3{
  grid-area: h;
  text-align: center;
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
}
.partners div.partner-logo{
  grid-area: p;
  display:grid;
    width:auto;
    height: auto;
    grid-template: repeat(3, auto) / repeat(5, auto);
    grid-auto-flow: column dense;
    
 
}

.partner-logo img{
  width:50%;
  height: auto;
  margin:10px;

}
.partner-logo>.small-partner-logo{
  width:100%;
  height:auto;
}

footer{
  grid-area: f;
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: 
  "a a a a p p p s s l l l"
  "a a a a p p p s s l l l"
  "a a a a p p p s s l l l"
  "a a a a p p p s s l l l"
  "c c c c c c c c c c c c";
  background-color:#404040;
}

footer>section {
  grid-area: a;
  border-right: 2px solid #adefd1;
}
#about p{
  font-size: 0.9em;
  text-align: justify;
  line-height: 20px;
  margin:5px 5%;
  color:white;
}
#about h3, #partners>h3, #social-media>h3, #imp-links>h3{
  font-size: 1em;
  margin:0;
  padding: 7px;
  border-bottom: 2px solid cyan;
  text-align: center;
  background:rgba(128, 128, 128,0.4);
  width: 100%;
  color:white;
}
#address h3{
  font-size: 1em;
  margin:10% 0 0 5%;
  color:white;
}
 
#address p{
  line-height: 20px;
  margin:5px 5%;
  font-size: 0.9em;
  text-align: justify;
  color:white;

  
}

#imp-links{
  grid-area: l;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}
#imp-links p{
  text-align: center;
}
#imp-links p:last-child{
  margin-bottom: 20px;

}
#imp-links p a{
  text-decoration: none;
  font-size: 0.8em;
  border:2px solid transparent;
  padding: 5px;
  color:white;
  
}

#imp-links a:hover{
 color: #adefd1;
}
#partners{
  grid-area: p;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 2px solid #adefd1;

}

#partners img{
  margin-top:10px;
  width:30%;
}
#partners img.small-ciu-logo{
  width: 60%;
  height: auto;
}


#social-media{
  grid-area: s;
  display:inline-flex;
  flex-direction: column;
  border-right: 2px solid #adefd1;
}
#social-media>a img{
  width:40px;
  height: 40px;
  border:1px solid black;
  border-radius: 100%;
  margin:20px 35%;
  
} 
#copyright{
  grid-area: c;
  background:rgba(128, 128, 128,0.4);
  height: 30px;
  border-top:1px solid #adefd1;
  width: 100%;
  bottom:0;
  display: flex;
  justify-content: center;
}
#copyright>p{
  align-self: center;
  color:white;
  font-size: 0.7em;
}

#backbutton {
  display: none;
  position: fixed;
  bottom:0;
  right:3px;
  z-index: 99;
  border: none; 
  outline: none; 
  background-color: rgb(245, 23, 245); 
  color: white; 
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 2px;
  font-size: 18px;
  box-shadow:0 2px 5px 1px black;
}

#backbutton:hover {
  background-color: #555;
}
