*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 1em;
   
  }
  .container{
      grid-template-columns: repeat(24, 1fr);
      grid-template-rows: repeat(6, auto);
    grid-template-areas: 
    "h h h h h m m m m m m m m m m m m m m m m m m m"
    "h h h h h m m m m m m m m m m m m m m m m m m m"
    ". . . . . m m m m m m m m m m m m m m m m m m m"
    ". . . . . m m m m m m m m m m m m m m m m m m m"
    ". . . . . m m m m m m m m m m m m m m m m m m m"
    "f f f f f f f f f f f f f f f f f f f f f f f f";
    
  }
header{
position:fixed;
width:30vh;
height:50vh;
grid-area: h;
display:flex;
flex-direction: column;
justify-content: space-around;
}

header>section{
  align-items:baseline;
  margin:0 4.5vh;

}
nav{
    padding: 1vh 0.5vh;
}
.menu{
    padding: 0;
    flex-flow:column wrap;
    width:auto;
    margin:1vh;
    height45vh;
  }
  
  .menu>li{
    display: block;
    padding:0;
    margin: 2px 0 0 0;
  }
  
  .menu>li>a{
    display: block;
    width: auto;
    padding:1vh 2vh;
    font-size: 2.5vh;
    font-weight: 400;
    box-shadow: none; 
    border-right:20px solid transparent;  
  }

  .submenu li >a{
    border-left:3vh solid transparent; 
    border-right:2vh solid transparent;
    padding:1vh 0.5vh; 
  }
  
  .submenu{
    top:0;
    left:26vh;
    width:30vh;
    border:0.5px solid black;
    box-shadow:5px 5px 10px 5px gray;
  }
  nav>img{
    position:absolute;
    display:none;
  }
 
  #apply-now #nav-apply-now>a,
  #admissions #nav-admissions>a,
  #career-path #nav-career-path>a,
  #project-repo #nav-project-repo>a, 
  #about-us #nav-about-us>a {
    border:2px solid aquamarine;
    border-right:20px solid transparent; 
  
  }
  
  #logo{
    font-size: 1.9vh;
  }

  main{
      position:absolute;
      grid-area:m;
      width:146vh;
      right: 0;
  }

  .landing{
    height:350px;
    padding:0;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "i i i i i i i i i i i i"
    "p p p p p p p p p p p p"
    ". . b b b b b b b b . .";
  
  }
  .landing img{
    grid-area: i;
    width:80%;
    margin-top:40px;
    padding:10px 20px;
    justify-self: center;
   
  }
  .landing>p{
    position: relative;
    top:-300px;
    grid-area: p;
    font-size: 1.4em;
    padding:10% 15% 25% 15%;
    margin:10px 0;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.2);

  }
  .landing h2{
    grid-area: h;
    color:black;
    font-size: 1.4em;
    width: 83.3%;
    z-index: 1;
    background-color: aquamarine;
    border:5px solid orange;
    position: fixed;
    top: 0;
    z-index: 2;
    text-align: center;
  }
  .landing>div{
    width: 100%;
    grid-area: b;
    justify-self: center;
    position: relative;
    top:-460px;
    background-color: rgba(0, 0, 255, 0.0);
    padding:10px;
    z-index: 1;
  }
  .landing>div p{
    color:white;
    font-size: 1.2em;
    margin:20px 0;
  }
  .landing>div>button{
    padding:10px;
    margin-left: 15%;
    color:purple;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow:2px 2px 4px 2px purple;
  }
  .landing>div>button:hover{
    color:white;
    background:orange;
  }
  .founders{
    display:inline-flex;
    flex-direction: column;
    position: fixed;
    left:0;
    top:50vh;
    justify-content: space-around;
    background-color: purple;
    width:30vh;
    height: 50vh;
    align-items: center;
    padding:20px 10px;
    bottom:0;
  }
  .founders>h3{
    font-size: 2.8vh;
    color:white;
    text-align: center;
  }
  .founders>img{
    width:10vh;
    height:auto;
  
  }
  .how{
    width:100%;
    padding:10px 0;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
    "q q q q q q q q q q q q q q q q q q q q q q q q"
    ". s s s s s s s s s s s s s s s s s s s s s s ."
    "k k k k k k k k k k k k k k k k k k k k k k k k"
    "t t t t t t t t t t t t t t t t t t t t t t t t"
    "g g g g g g g g g g g g g g g g g g g g g g g g"
    ". . . . . . . . . . c c c c . . . . . . . . . .";
  }
  .how>h3{
    grid-area: q;
    justify-self: center;
    padding-bottom:2px;
    font-size: 1.5em;
  }
  .how>p{
    grid-area: s;
    justify-self: center;
    padding:2px;
    font-size: 1em;
  }
  .how>.catalyst{
    grid-area: k; 
    border:2px solid purple;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2px;
    margin: 2px 1%;
    border-radius: 5px;
    text-decoration: none;
    color:black;
    box-shadow:2px 2px 4px 2px gray;
  }
  .howh{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1.4em;
    padding: 2px 0;
  }
  .howp{
    color:black;
    text-align: center;
    font-size: 1em;
    padding:2px 0;
  }
  
  .how>.bootcamp{
    grid-area: t; 
    border:2px solid purple;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2px;
    margin: 2px 1%;
    border-radius: 5px;
    text-decoration: none;
    color:black;
    box-shadow:2px 2px 4px 2px gray;
  }
  
  .how>.gethired{
    grid-area: g; 
    border:2px solid purple;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2px;
    margin: 2px 1%;
    border-radius: 5px;
    text-decoration: none;
    color:black;
    box-shadow:2px 2px 4px 2px gray;
  }
  .how>a:hover{
    background-color: purple;
    
  }
  .catalyst:hover .howp, .catalyst:hover .howh{
    color: white;
  }
  .bootcamp:hover .howp, .bootcamp:hover .howh{
    color: white;
  }
  .gethired:hover .howp, .gethired:hover .howh{
    color: white;
  }
  
  
  .howimg{
    width: 40px;
    height: auto;
    padding:0 0 2px 0;
  
  }
  .how>button{
    grid-area: c;
    margin-top:10px;
    padding:15px;
    font-size: 0.8em;
    background-color: purple;
    color: white;
    width: 130px;
    justify-self: center;
    border-radius:3px;
    box-shadow:2px 2px 4px 2px gray;
  }
  .how>button:hover{
    background-color: orange;
    color: white;
  
  }
  .partners{
    background-color: beige;
    display: grid;
    width: 100%;
    padding:20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "p p p p p p p p p p p p"
    "p p p p p p p p p p p p";
  
  }
  .partners h3{
    grid-area: h;
    text-align: center;
    font-weight: normal;
    font-size: 1.4em;
    margin-bottom: 20px;
    color:black;
    font-weight: bold;
  }
  .partners div.partner-logo{
    grid-area: p;
    display:grid;
      width:100%;
      grid-template: repeat(3, auto) / repeat(4, auto);
      grid-auto-flow: column dense;
   
  }
  .partner-logo img{
    width:50px;
    margin:5px;
  
  }
  .partner-logo>.small-partner-logo{
    width:70px;
    height: auto;
  }
  
  footer{
    grid-area: f;
    bottom:0;
    margin-left:30vh;
    background-color: purple;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: 
    "c c c c c c c c c c c c";
    
  }

  #about, #imp-links, #partners, #social-media{
      display:none;
  }
 

  #copyright{
    grid-area: c;
    position: fixed;
    
  }
  