.container{
  padding:0;
}
nav>img{
  width:50px;
  height: 45px;;
  right:20px;
  display:inline-block;
  border:5px solid aquamarine;
  box-shadow: 2px 4px 2px black;
  border-radius: 3px;
  margin-top: -30px;

}
.mobile-menu{
  position: relative;
}

.menu{
  padding: 0;
  display:none;
  flex-flow:column wrap;
  justify-content: space-evenly;
  top:40px;
  right:20px;
  width:200px;
  border:1px solid black;
  box-shadow:5px 5px 10px 5px gray;
  border-radius: 0 0 3px 3px;
  position: absolute;
  background-color: aquamarine;
  z-index: 20;
}

.submenu>li, .menu>li{
  align-items: center;
  list-style: none;
  border-bottom: 2px solid pink;
  background-color: aquamarine;
  display: block;
  position: relative;
  padding:0;
}

.menu>li>a, .submenu li a{
  text-decoration: none;
  color:black;
  border:none;
  display: block;
  width: auto;
  padding:15px 8px;
  font-size: 1.3em;
  font-weight: 400;
  font-family: 'Times New Roman', sans-serif;
  
}

.submenu{
  display:none;
  top:0;
  right:198px;
  width:250px;
  height:auto;
  border:1px solid black;
  box-shadow:5px 5px 10px 5px gray;
  border-radius: 0 0 3px 3px;
  background-color: aquamarine;
  position: absolute;
  z-index: 21;


}

.menu li:hover, .menu a:hover{
  background-color: orange;

}


.menu>li:hover, .submenu>li:hover{
  background-color: orange;
}

.mobile-menu:hover ul.menu{
  display: flex;
}

.menu li:hover >ul{
  display:block;
  position:absolute;

}



.landing{
  height:850px;
  padding:10px 10px 10px 0;

  background-color: rgba(0, 0, 255,0.7);
  display: grid;
  grid-template-columns: repeat(12, 1fr );
  grid-template-rows:auto auto auto auto;
  grid-template-areas: 
  "h h h h h h h h h h h h"
  "i i i i i i i i i i i i"
  "p p p p p p p p p p p p"
  "b b b b b b b b b b b b";
  height: auto;

}
.landing img{
  grid-area: i;
  padding: 0 10px;
  width:100%;
  height: auto;

}
.landing>p{
  grid-area: p;
  color:white;
  font-size: 1.4em;
  padding: 0 10px;
 text-align: center;
  
}
.landing h2{
  grid-area: h;
  color:white;
  font-size: 2em;
  padding:10px;
 text-align: center;

}

.landing>div{
  grid-area: b;
  justify-self: center;
  padding:0;

}
.landing>div>button{
  display:inline-flex;
  align-content: space-around;
  margin-left:10vw;
}
.founders{
  padding:10px 5px;
}
.founders>h3{
  font-size: 1.4em;
  color:white;
}
.founders>img{
  width:50px;
  height:35px;

}

.how{
  display: flex;
  flex-direction: column;

}
.how button {
  align-self: center;
}
.how a{
  margin: 0 5px 10px 5px;
  box-shadow:5px 5px 10px 5px gray;
}

.partners{
  background-color: beige;
  display: grid;
  width: 100%;
  padding:0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 
  "h h h h h h h h h h h h"
  ". p p p p p p p p p p p";
  
}
.partners h3{
  grid-area: h;
  font-size: 1.6em;
}
.partners div.partner-logo{
  grid-area: p;
  display:grid;
    width:auto;
    height: auto;
    grid-template: repeat(3, auto) / repeat(5, auto);
    grid-auto-flow: column dense;
 
}

.partner-logo img{
  width:40%;
  height: auto;
  margin:5px;
}
.partner-logo>.small-partner-logo{
  width:80%;
  height:auto;
}

footer{
  grid-area: f;
  background-color: purple;
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3 auto);
  grid-template-areas: 
  "a a a a a a a a a s s s"
  "a a a a a a a a a s s s"
  "c c c c c c c c c c c c";
  margin:0; 
  justify-content: space-between;
 
}
footer>section{
  grid-area: a;
  
}
#address p, #about p{
  font-size: 0.8em;
  padding:0;
}
#address h3{
  font-size: 0.8em;
  padding:0;
  margin: 10px 0 0 20px;
}
#about h3, #social-media h3{
  font-size: 0.8em;
}

#imp-links, #partners{
  display: none;

}
#social-media{
  height:auto;
  justify-content: stretch;
}


#social-media>a img{
  width:20px;
  height: 20px;
  margin-top:10px;
}