
  header{
  justify-content: space-between;
  }
 
  .menu>li>a{
    font-weight:bold;
    font-size:0.7em;
    padding:10px 7px;
  }
  
  .submenu{
    width:180px;
  
  }

  .submenu a{
    padding:8px;
    font-size: 0.8em;
  }
  
  .landing>p{
    font-size: 1.2em;
    margin:5px 0;
  }
  .landing h2{
    font-size: 2em;
    padding-left: 0.8vw;
  }
  .landing>div p{
    font-size: 1.2em;
    margin:10px 0;
  }
  
  .founders{
    padding:10px;
  }
  .founders>h3{
    font-size: 1.6em;
  }
  .founders>img{
    width:80px;
    height:55px;
  }
   
  .how>h3{
    padding-bottom:8px;
    font-size: 1.6em;
  }
  .how>p{
    padding-bottom:15px;
    font-size: 1.2em;
  }
  .how>.catalyst{
    padding:10px;
  }
  .howh{
    font-size: 1.6em;
  }
  .howp{
    font-size: 1.1em;
    padding:10px 5px;
  }
  
  .how>.bootcamp{
    padding:10px;
  }
  
  .how>.gethired{
    padding:10px;
  }
  .how>a:hover{
    background-color: purple;
    
  }
 
  .howimg{
    padding:0 0 20px 0;
  
  }
  .how>button{
    padding:10px;
  
  }
  .how>button:hover{
    background-color: orange;
    color: white;
  
  }
  .partners{
    padding:10px;
  }
  .partners h3{
    font-size: 1.6em;
  }
  .partners div.partner-logo{
    display:grid;
    width:100%;
    grid-template: repeat(3, auto) / repeat(4, auto);
    grid-auto-flow: column dense;
   
  }
  .partner-logo img{
    width:90px;
    margin:5px;
    height: auto;
  
  }
  .partner-logo>.small-partner-logo{
    width:140px;
   height: auto;
  }
  
  #about{
    padding: 10px 5% 10px 15%;
  }
  #about h1, #address h3{
     padding:5px 0;
     font-size: 1.3em;
     
  }
 #about p{
    font-size: 0.8em;
 }
  #address{
    padding: 10px 5% 10px 15%;
    font-size: 0.8em;
  }
  
  #imp-links{
    padding: 10px 15% 10px 0;
  
  }
  #imp-links a{
    font-size: 0.8em;
  }
  #partners{
    margin:5px;
    padding: 20px 10%;
  }
  #partners img{
    width:50px;
  }
  #partners img.small-ciu-logo{
    width: 100px;
  }
  #social-media{
    padding: 10px 5% 10px 40%;
    margin:5px;
  }
  #social-media>a img{
    width:30px;
    height: 30px;
    border:2px solid black;
    border-radius: 100%;
  }
  #copyright>p{
    font-size: 0.7em;
  }